# Application Secrets
SECRET_KEY=your_secret_key_here

# User Passwords
REPORTER_PASSWORD=your_reporter_password
REVIEWER_PASSWORD=your_reviewer_password

# Fuseki Database Settings
FUSEKI_BASE=http://localhost:3030
FUSEKI_ADMIN_USER=your_admin_username
FUSEKI_ADMIN_PASSWORD=your_admin_password

# AllegroGraph Credentials
AG_BASE_URL=allegrograph_base_url
AG_REPO=your_repository_name
AG_USER=your_allegrograph_username
AG_PASSWORD=your_allegrograph_password